<div class="mat-elevation-z8" class="table-container">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="patientID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pacient ID</th>
        <td mat-cell *matCellDef="let row">{{row.patientID}}</td>
      </ng-container>

      <!-- Message Column -->
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Správa</th>
        <td mat-cell *matCellDef="let row">{{row.message}}</td>
      </ng-container>

      <!-- Message Column -->
      <ng-container matColumnDef="returnMsg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Odpoveď</th>
        <td mat-cell *matCellDef="let row">
          <textarea #txtarea matInput [cols]="70" [rows]="15" [maxLength]="1000">{{row.returnMsg}}</textarea>
        </td>
      </ng-container>

      <!-- Signed Column -->
      <ng-container matColumnDef="signed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Odoslané</th>
        <td mat-cell *matCellDef="let row">
          <textarea #txtarea matInput [cols]="70" [rows]="15" [maxLength]="1000">{{row.signed}}</textarea>
        </td>
      </ng-container>

       <!-- Method Column -->
       <ng-container matColumnDef="method">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Metóda</th>
        <td mat-cell *matCellDef="let row">{{row.method}}</td>
      </ng-container>

       <!-- Code Column -->
       <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kód</th>
        <td mat-cell *matCellDef="let row">{{row.code}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
        [length]="dataSource?.data.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 50]">
    </mat-paginator>
  </div>
