
<!-- How it's implemented... -->
<div class="container">

  <div class="row">
    <div class="column">
      <h1>E-health example form</h1>
      <p>Testovací e-health screen o pacientovi  <code>Detail Pacienta</code> je dynamický formulár definovaný pomocou <code>form data structure</code>. Zmeny hodnôt je možné sledovať vo <code> result</code> sekcii.</p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h2>Detail Pacienta</h2>
      <app-patient-form #dynamicForm
                        [patientDetails]="patientDetails"></app-patient-form>
    </div>
    <div class="column">

      <div class="row">
        <div class="column">
          <h2>Resulting json object</h2>
          <pre><code>{{ dynamicForm.form.value | json }}</code></pre>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h2>Form data structure</h2>
          <pre><code>{{ patientDetails | json }}</code></pre>
        </div>
      </div>


    </div>
  </div>

</div>
