<form [formGroup]="form" (ngSubmit)="onSubmit()" style="margin-bottom: 10px">

  <div *ngFor="let question of ehealthRequestDetails" class="form-row">
    <app-question [question]="question" [form]="form"></app-question>
  </div>

  <div class="form-row" style="margin-top: 30px; margin-bottom: 30px">
    <button mat-stroked-button type="submit" [disabled]="!form.valid">
      Odošli do NCZI
    </button>
  </div>

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Spojenie NCZI</mat-label>
    <textarea
      matInput
      #textarea
      [formControl]="textAreaFeed"
      [scrollTop]="textarea.scrollHeight"
      cdkTextareaAutosize
      cdkAutosizeMinRows="10"
      cdkAutosizeMaxRows="10"
    >
    </textarea>
  </mat-form-field>
</form>
<div style="width: 100%; height: 100px; overflow: hidden;">
  <mat-spinner
    color="accent"
    mode="indeterminate"
    *ngIf="spinnerService.visibility | async"
  ></mat-spinner>
</div>
